.eye {
    color: #075E55;
    font-size: small;
}

.input-icons {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.input-icons i {
    position: absolute;
    right: 0px;
    bottom: 22px;
}

.icon {
    min-width: 35px;
}

.input-general {
    margin-bottom: 15px;
    border: none;
    border-bottom: 1.5px solid #1BD741;
    height: 30px;
    width: 240px;
    font-size: 16px;
    padding-left: 10px;
}

.input-general::placeholder {
    color: #075E55;

}