.navBar {
    display: flex;
    /* background-color: #202C33; */
    background-color: #00A884;
    min-height: 60px;
    height: 6%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px
}

.avatar,
.input-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}